@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    #app{
        background: rgb(248, 248, 252);
        font-family: Roboto, sans-serif;
    }
    .flex-center {
        @apply flex items-center justify-center;
    }
    .main-color {
        color: rgb(20, 53, 195) !important;
    }
    .main-bg {
        background-color: rgb(20, 53, 195);
    }
    .contentshow::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -25px;
        width: 100%;
        background-color: transparent;
        height: 30px;
        z-index: 1040;
    }
    .overflow {
        background-color: rgba(0,0,0,0.5);
    }

}
